@import 'tailwindcss';

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --background-highlighted: #161616;
        --primary_text: #f8f8f8;
        --secondary_text: #a7a7a7;

        --purple_1: #24243e;
        --purple_2: #424672;
        --purple_3: #7e638d;
        --red: #b39095;
        --yellow: #dbbf9b;
        --white: #e3ded8;

        --green-mac: #00ca4c;
        --yellow-mac: #ffbd44;
        --red-mac: #ff605c;

        --footer-text: #ededed80;
        --hidden_color: #ededed50;

        --tiled_border: #1f1f1f;
    }
}

html,
body {
    background: var(--background);
    color: var(--primary_text);
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

::selection {
    background-color: var(--yellow);
    color: var(--background);
}

input[type='number'] {
    -moz-appearance: textfield;
}
