@import 'tailwindcss';

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --primary_text: #f8f8f8;
        --secondary_text: #c9c9c9;

        --purpel_1: #24243e;
        --purple_2: #424672;
        --purple_3: #7e638d;
        --red: #b39095;
        --yellow: #dbbf9b;
        --white: #e3ded8;
    }
}

body {
    background: var(--background);
    color: var(--primary_text);
    font-family: Arial, Helvetica, sans-serif;
}

::selection {
    background-color: var(--yellow);
    color: var(--background);
}
