@layer utilities {
    .hidden_text:hover {
        color: var(--hidden_color);
        cursor: default;
    }

    .hidden_text {
        color: transparent;
        position: absolute;
    }

    .tiled_window__container {
        border: 0.05rem solid var(--tiled_border);
        border-radius: 0.5rem;
    }

    .tiled_window__container > img {
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;

        opacity: 0.9;
    }

    .top_window_bar__container {
        height: 5.5vh;
        width: 100%;
        background-color: var(--tiled_border);

        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;

        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;
        justify-content: end;
    }

    .purple_colored {
        color: var(--purple_3);
        font-weight: bolder;
    }

    .yellow_colored {
        color: var(--yellow);
        font-weight: bolder;
    }

    .important_text {
        color: var(--primary_text);
    }

    .secondary_text {
        color: var(--secondary_text);
    }

    .text_gradient {
        font-weight: bold;
        font-size: 3rem;

        background-image: linear-gradient(
            45deg,
            var(--purple_3),
            var(--primary_text) 80%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
