.text_gradient {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 8px;

    background-image: linear-gradient(
        45deg,
        var(--purple_2),
        var(--yellow),
        var(--purple_3)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.purple_colored {
    color: var(--purple_3);
    font-weight: bold;
}
